<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>    
    <add key="RutaJSONConfiguracion" value="D:\Obenasa ERP Test\" />
    <add key="RutaLogs" value="D:\Obenasa ERP Test\Logs" />
    <add key="NombreJSONTenantPruebas" value="solpheo"/>
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="D:\Obenasa ERP Test\Logs\SolucionfacturasServicio-{Date}.log" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="7" />
    <add key="serilog:write-to:File.fileSizeLimitBytes" value="5000" />
    <add key="serilog:write-to:RollingFile.outputTemplate" value="{Level} {Timestamp:yyyy-MM-dd HH:mm:ss} {Message}{NewLine}{Exception}" />
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Serilog.Sinks.File" publicKeyToken="24c2f752a8e58a10" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>